################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crud_NODB/obj/Debug/netcoreapp3.1/Crud_NODB.csprojAssemblyReference.cache
.vs/Crud_NODB/v16/.suo
Crud_NODB/obj/Debug/netcoreapp3.1/Crud_NODB.csproj.FileListAbsolute.txt
.vs/Crud_NODB/v16/.suo
