@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>CRUD Usuários sem utilização de banco de dados, gravação em arquivo local na raiz do projeto.</p>
</div>
